*{
    box-sizing: border-box;
}

/*FONTS..............................*/
h1, h2, h3, h4, h5, ul {
    font-family: 'Hind Madurai', sans-serif;
}

p{  
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}

h1, #Name{
    font-size: 32px;
}

h2{
    font-size: 1.6em;
    margin-top: 75px;
}

h3, ul, #Name{
    font-size: 1.2em;
}

h3{
    margin-top: 75px;
}

h4{
    font-size: 1em;
}

h5{
    font-size: 1em;
    line-height: 1.5em;
}
/*end of fonts......................................*/


#Wrapper {
    max-width: 100%;
    padding: 40px;
    margin: auto;
}

.TextWrapper{
    max-width: 1080px;
    margin: auto;
    padding: 0px 40px 0px 40px;
}


ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
}

#Name {
    margin: 0px;
    min-width: 300px;
    color: #336d8e;
    text-decoration: none;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
}

#ExpandedNav nav .ActiveLink {
    font-weight: bold;
}

#ExpandedNav nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin: 0px;
    align-items: flex-end;
    padding: 0px;
}

#ExpandedNav nav ul a {
    color: #336d8e;
}

nav ul a:hover {
    font-weight: 600;
}



section {
    margin: 48px 0px 48px 0px;
    height: 400px;
    width: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    min-width: 700px;
}

section ul{
    align-self: center;
    padding: 0px 40px 0px 0px;
    min-width: 140px;
}

section .type{
    padding-bottom: 40px;
}


#MedicalMockUp{
    max-width: 100%;
    width: 400px;
    height: 300px;
    align-self: center;
    margin-right: 146px;
}

footer {
    padding: 40px 40px 0px 40px;
}

h5 {
    margin: 0px;
    min-width: 300px;
    color: #336d8e;
}

.Type{
    margin-bottom: 20px;
}

.ProjectTitle{
    font-weight: Bold;
    color: #336d8e;
}

#HamburgerMenu, .dropdown, .hamburger, .line-1, .line-2, .line-3, #HamburgerMenu nav, #HamburgerMenu nav ul, #HamburgerMenu nav ul a{
    display: none;
}

.delay{
    display: none;
}


/*CUSTOM CSS NOT ON HOME CSS*/

.FlexPhotos{
    display: flex;
    max-width: 1080px;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.Wireframe, .FinalLarge{
    width: 33%;
    padding: 1px 1px 0px 1px;
}

.Reporter{
    width: 50%;
    padding: 1px 1px 0px 1px;
}

.ReporterLarge{
    width: 100%;
    padding: 1px 1px 0px 1px;
}

.Final{
    width: 50%;
    padding: 1px 1px 0px 1px;
}

.ProjectTitle, .Type{
    opacity: 0.5;
    font-weight: 1.0em;
}

#ActiveProjectTitle{
    font-size: 1.2em;
    opacity: 1.0;
}

#ActiveType{
    font-size: 1.2em;
    opacity: 1.0;
}

.ProjectTitle:hover{
    opacity: 1.0;
}



/*.............*/

/*MEDIA QUERY....................................................*/
@media only screen and (max-width: 840px) {
    
    #MedicalMockUp{
     margin-right: 60px;
   }
   
   @media only screen and (max-width: 740px) {
       
   section {
    flex-direction: column;
     height: 600px;
     justify-content: flex-start;
     align-content: space-around;
     width: 100%;
     min-width: 300px;
   }
   
    #MedicalMockUp{
     order: 2;
     margin: 0px;
   }

   section ul{
     padding-top: 20px;
     margin: 0px;
   }
}


@media only screen and (max-width: 650px) {
    
#ExpandedNav{
    display: none;
}
#HamburgerMenu, .dropdown, .hamburger, .line-1, .line-2, .line-3, #HamburgerMenu nav, #HamburgerMenu nav ul, #HamburgerMenu nav ul a{
    display: block;
}

.delay{
        display: block;
}

#HamburgerMenu nav ul{
    display: flex;
    flex-direction: column;
    align-content: center;
}


/*HAMBURGER MENU*/
a{
    cursor: pointer;
  }
  input[type=checkbox] {
    display: none;
  }
  
   nav ul {
    color: #336d8e;
    max-height: 0px;
    overflow: hidden;
    list-style: none;
    transition: all 1s cubic-bezier(.325, 1, .22, 1);
  }
  
  #HamburgerMenu nav li {
    font-size: 1em;
    padding: 5px 0;
    display: flex;
    justify-content: center;
  }  
  
  input[type=checkbox]:checked ~ nav ul {
    height:  calc(100vh - 60px);
    max-height: 100vh;
    margin: auto;
    transition: all 1s cubic-bezier(.5, 1, .22, 1);
  }
  
  .hamburger {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
  }
  
  #HamburgerMenu .line {
    position: absolute;
    display: block;
    background: #336d8e;
    width: 28px;
    height: 3px;
    height: .15rem;
    border-radius: .2rem;
    left: 0;
    transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
  }

  #HamburgerMenu .line-1 {
    top: 2px;
    height: 3px;
  
  }
  
  #HamburgerMenu .line-2 {
    top: 10px;
    width: 28px;
    height: 3px;
  }
  
  #HamburgerMenu .line-3 {
    top: 18px;
    height: 3px;
  }
  
  input[type=checkbox]:checked ~ label .line-1 {
    top: 0px;
    width: 28px;
    transform: translateX(-12px) rotate(-45deg) translateY(13px);
  }
  
  input[type=checkbox]:checked ~ label .line-2 {
    opacity: 0;
  }
  
  input[type=checkbox]:checked ~ label .line-3 {
    top: 14px;
    width: 22px;
    transform: translateX(-9px) rotate(45deg) translateY(-9px);
  }
  /*END OF HAMBURGER MENU*/
}

@media only screen and (max-width: 450px) {
  
    #MedicalMockUp{
     width: 300px;
     height: auto;
    }

    section{
        height: 450px;
      }
    
}

figcaption{
    padding: 5px;
    margin-bottom: 40px;
}








@media only screen and (max-width: 600px) {

    .FlexPhotos{
        flex-flow: column-wrap;
    }

    .Wireframe, .Final, .FinalLarge, .ReporterLarge{
        width: 100%;
    }




}