
@media print{

h1, h2, h3, h4, h5, ul {
    font-family: 'Hind Madurai', sans-serif;
}

p{  
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.0em;
}

h1, #Name{
    font-size: 24px;
}

h2{
    font-size: 1.4em;
    margin-top: -55px;
}

h3, ul, #Name{
    font-size: 1.0em;
}

h3{
    margin-top: 55px;
}

h4{
    font-size: 0.8em;
}

h5{
    font-size: 0.8em;
    line-height: 1.3em;
}

header, footer{
    display: none;
}

#Name{
    color:white;
}

}
