*{
    box-sizing: border-box;
}

/*FONTS..............................*/
h1, h2, h3, h4, h5, ul {
    font-family: 'Hind Madurai', sans-serif;
}

p{  
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}

h1, #Name{
    font-size: 32px;
}

h2{
    font-size: 1.6em;
}

h3, ul, #Name{
    font-size: 1.2em;
}

h4{
    font-size: 1em;
}

h5{
    font-size: 1em;
    line-height: 1.5em;
}
/*end of fonts......................................*/


#Wrapper {
    max-width: 100%;
    padding: 40px;
    margin: auto;
}

.TextWrapper{
    max-width: 1080px;
    margin: auto;
}


ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
}

#Name {
    margin: 0px;
    min-width: 300px;
    color: #336d8e;
    text-decoration: none;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: bold;
}

#ExpandedNav nav .ActiveLink {
    font-weight: bold;
}

#ExpandedNav nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin: 0px;
    align-items: flex-end;
    padding: 0px;
}

#ExpandedNav nav ul a {
    color: #336d8e;
}

#ExpandedNav nav ul a:hover {
    font-weight: 600;
}



section {
    margin: 48px 0px 48px 0px;
    height: 400px;
    width: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    min-width: 700px;
}

section ul{
    align-self: center;
    padding: 0px 40px 0px 0px;
    min-width: 140px;
}

section .type{
    padding-bottom: 40px;
}

.ImgHolder {
    width: 400px;
    height: 300px;
    background-color: beige;
    align-self: center;
    margin-right: 146px;
}

#MedicalMockUp{
    max-width: 100%;
    width: 400px;
    height: 300px;
    align-self: center;
    margin-right: 146px;
}

footer {

}

h5 {
    margin: 0px;
    min-width: 300px;
    color: #336d8e;
}

.Type{
    margin-bottom: 20px;
}

.ProjectTitle{
    font-weight: Bold;
    color: #336d8e;
}

#HamburgerMenu{
    display: none;
}


/*MEDIA QUERY....................................................*/
@media only screen and (max-width: 650px) {
    
#ExpandedNav{
    display: none;
}

#HamburgerMenu{
        display: unset;
}

#HamburgerMenu nav ul{
    flex-direction: column;
}


/*HAMBURGER MENU*/
#HamburgerMenu{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
a{
    cursor: pointer;
  }
  input[type=checkbox] {
    display: none;
  }
  
   nav ul {
    max-height: 0px;
    overflow: hidden;
    list-style: none;
    transition: all 1s cubic-bezier(.325, 1, .22, 1);
  }
  
  #HamburgerMenu nav li {
    border-bottom: .18rem solid #fff;
    color: #fff;
    font-size: 16px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
  }
  
  #HamburgerMenu nav li:last-of-type {
    margin-bottom: .625rem;
  }
  
  
  input[type=checkbox]:checked ~ nav ul {
    height: auto;
    max-height: 12rem;
    transition: all 1s cubic-bezier(.5, 1, .22, 1);
  }
  
  .hamburger {
    display: block;
    position: absolute;
    top: 18px;
    right: 13px;
    height: 27px;
    width: 27px;
    cursor: pointer;
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
  }
  
  #HamburgerMenu .line {
    position: absolute;
    display: block;
    background: #336d8e;
    width: 24px;
    height: 3px;
    height: .15rem;
    border-radius: .2rem;
    left: 0;
    transition: all .6s cubic-bezier(.5, .1, 0, 1.2);
  }
  
  #HamburgerMenu .line-1 {
    top: 34px;
  
  }
  
  #HamburgerMenu .line-2 {
    top: 41px;
    width: 28px;
  }
  
  #HamburgerMenu .line-3 {
    top: 48px;
  
  input[type=checkbox]:checked ~ label .line-1 {
    top: 0px;
    width: 22px;
    transform: translateX(-11px) rotate(-45deg) translateY(12px);
  }
  
  input[type=checkbox]:checked ~ label .line-2 {
    opacity: 0;
  }
  
  input[type=checkbox]:checked ~ label .line-3 {
    top: 14px;
    width: 22px;
    transform: translateX(-8px) rotate(45deg) translateY(-8px);
  }
  /*END OF HAMBURGER MENU*/
}