/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/


#wrapper{
    display: grid;
    width: 90vw;
    max-width: 1200px;
    min-height: 100vh;
    grid-template-rows: 4rem 100% 3rem;
    grid-template-columns: 1fr 2fr 200px; 
    grid-template-areas:
    "top"
    "left center right"
    "bottom";
    }

header{
       grid-area: top;
        height: 4rem;
        grid-column: 1 / 4;
        grid-row: 1;

    }

nav{
    grid-area: right;
    grid-column: 3;
    grid-row: 2;

}

article{
    grid-area: center;
    grid-column: 2;
    grid-row: 2;
}

aside{
    grid-area: left;
    grid-column: 1;
    grid-row: 2;
}

footer{
    grid-area: bottom;
    height: 3rem;
    grid-column: 1 / 4;
    grid-row: 3;
}
        
header, footer{
    display: flex;
    justify-content: center;
}

.menuitem{
    background-color: white;
    border: 1px solid top white;
}

.submenu{
    padding-left: .25rem;
    width: 100%;
    list-style-type: none;
    background-color: lightgrey;
}


@media only screen and (max-width: 600px) {

    #wrapper{
    width: 100vw;
    grid-template-rows: auto;
    grid-template-columns: 1fr; 
    grid-template-areas:
    "top"
    "right"
    "center"
    "left"
    "bottom";
    }

header{
    grid-area: top;
    height: 4rem;
    grid-column: 1;
    grid-row: 1;
 
     }
 
 nav{
     grid-area: right;
     grid-column: 1;
     grid-row: 2;
 
 }
 
 article{
     grid-area: center;
     grid-column: 1;
     grid-row: 3;
 }
 
 aside{
     grid-area: left;
     grid-column: 1;
     grid-row: 4;
 }
 
 footer{
     grid-area: bottom;
     height: 3rem;
     grid-column: 1;
     grid-row: 5;
 }
}

