/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/


#wrapper{
    display: grid;
    width: 90vw;
    min-height: 100hv;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-template-rows: 4em 100% 3em;
    grid-template-columns: 1/3fr 2/3fr 200px; 

    
}

@media only screen and (max-width: 600px) {


    #wrapper{
        width: 100vw;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

